body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button,
input[type="submit"] {
    display: block;
    width: fit-content;
    border: none;
    background-color: #cccccc;
    padding: 10px 20px;
}

form {

    display: grid;
    grid-template-areas:
        "label-username user-info"
        "input-username input-username"
        "label-pass pass-info"
        "input-password input-password"
        "void submit";
    max-width: 720px;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    gap: 10px; */
}

.info {
    background-color: #007bff;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    justify-self: flex-end;
    border-radius: 999px;
}

label {
    margin-top: 5px;
}

input {
    padding: 10px;
    border: 1px solid #cccccc;
}

input[type="submit"] {
    grid-area: submit;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
    margin-left: auto;
}


#label-username {
    grid-area: label-username;
}

#user-info {
    grid-area: user-info;
}



#input-username {
    grid-area: input-username;
}

#label-pass {
    grid-area: label-pass;
}


#pass-info {
    grid-area: pass-info;
}

#input-password {
    grid-area: input-password;
}

#password-info {
    grid-area: password-info;
}

#void {
    grid-area: void;
}